.board {
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
}

.desc {
  font-size: 20px;
  border-bottom: 1px solid black;
}

.btn {
  text-align: center;
  margin-bottom: 10px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

